doctype strict
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(content='telephone=no' name='format-detection')
  title
  style(type='text/css' data-premailer='ignore').
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);
  style(data-premailer='ignore').
    @media screen and (max-width: 600px) {
    u+.body {
    width: 100vw !important;
    }
    }
    a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    }
  style.
    body {
    margin: 0;
    padding: 0;
    background-color: #f5f7fb;
    font-size: 15px;
    line-height: 160%;
    mso-line-height-rule: exactly;
    color: #444444;
    width: 100%;
    }
    body {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    img {
    border: 0 none;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 0;
    }
    a:hover {
    text-decoration: underline;
    }
    .btn:hover {
    text-decoration: none;
    }
    .btn.bg-bordered:hover {
    background-color: #f9fbfe !important;
    }
    a.bg-blue:hover {
    background-color: #3a77cc !important;
    }
    a.bg-azure:hover {
    background-color: #37a3f1 !important;
    }
    a.bg-indigo:hover {
    background-color: #596ac9 !important;
    }
    a.bg-purple:hover {
    background-color: #9d50e8 !important;
    }
    a.bg-pink:hover {
    background-color: #f55f91 !important;
    }
    a.bg-red:hover {
    background-color: #c01e1d !important;
    }
    a.bg-orange:hover {
    background-color: #fd8e35 !important;
    }
    a.bg-yellow:hover {
    background-color: #e3b90d !important;
    }
    a.bg-lime:hover {
    background-color: #73cb2d !important;
    }
    a.bg-green:hover {
    background-color: #467fcf !important;
    }
    a.bg-teal:hover {
    background-color: #28beae !important;
    }
    a.bg-cyan:hover {
    background-color: #1596aa !important;
    }
    a.bg-gray:hover {
    background-color: #95a9b0 !important;
    }
    a.bg-secondary:hover {
    background-color: #ecf0f2 !important;
    }
    .img-hover:hover img {
    opacity: .64;
    }
    @media only screen and (max-width: 560px) {
    body {
    font-size: 14px !important;
    }
    .content {
    padding: 24px !important;
    }
    .content-image-text {
    padding: 24px !important;
    }
    .content-image {
    height: 100px !important;
    }
    .content-image-text {
    padding-top: 96px !important;
    }
    h1 {
    font-size: 24px !important;
    }
    .h1 {
    font-size: 24px !important;
    }
    h2 {
    font-size: 20px !important;
    }
    .h2 {
    font-size: 20px !important;
    }
    h3 {
    font-size: 18px !important;
    }
    .h3 {
    font-size: 18px !important;
    }
    .col {
    display: table !important;
    width: 100% !important;
    }
    .col-spacer {
    display: table !important;
    width: 100% !important;
    }
    .col-spacer-xs {
    display: table !important;
    width: 100% !important;
    }
    .col-spacer-sm {
    display: table !important;
    width: 100% !important;
    }
    .col-hr {
    display: table !important;
    width: 100% !important;
    }
    .row {
    display: table !important;
    width: 100% !important;
    }
    .col-hr {
    border: 0 !important;
    height: 24px !important;
    width: auto !important;
    background: transparent !important;
    }
    .col-spacer {
    width: 100% !important;
    height: 24px !important;
    }
    .col-spacer-sm {
    height: 16px !important;
    }
    .col-spacer-xs {
    height: 8px !important;
    }
    .chart-cell-spacer {
    width: 4px !important;
    }
    .text-mobile-center {
    text-align: center !important;
    }
    .d-mobile-none {
    display: none !important;
    }
    }
center
  table.main.bg-body(width='100%' cellspacing='0' cellpadding='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: collapse; width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;' bgcolor='#f5f7fb')
    tr
      td(align='center' valign='top' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;')
        //if (gte mso 9)|(IE)
          table(border='0' cellspacing='0' cellpadding='0')
            tr
              td(align='center' valign='top' width='640')
        span.preheader(style='font-size: 0; padding: 0; display: none; max-height: 0; mso-hide: all; line-height: 0; color: transparent; height: 0; max-width: 0; opacity: 0; overflow: hidden; visibility: hidden; width: 0;') Passwort zur&uuml;cksetzen - Es sieht so aus, als h&auml;ttest du deine Passwort f&uuml;r dein Nutzerkonto vergessen. Klicke auf den Button, um ein neues zu erhalten.
        table.wrap(cellspacing='0' cellpadding='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: collapse; width: 100%; max-width: 640px; text-align: left;')
          tr
            td.p-sm(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding: 8px;')
              .main-content
                table.box(cellpadding='0' cellspacing='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: collapse; width: 100%; border-radius: 3px; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); border: 1px solid #f0f0f0;' bgcolor='#ffffff')
                  tr
                    td(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;')
                      table(cellpadding='0' cellspacing='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: collapse; width: 100%;')
                        tr
                          td.content.pb-0(align='center' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding: 40px 48px 0;')
                            table.icon.icon-lg.bg-blue-lightest(cellspacing='0' cellpadding='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding: 0; border-collapse: separate; width: 72px; border-radius: 50%; line-height: 100%; font-weight: 300; height: 72px; font-size: 48px; text-align: center;' bgcolor='#edf2fa')
                              tr
                                td(valign='middle' align='center' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;')
                                  img.va-middle(src=host + '/v1/userList/img/icons-blue-unlock.png' width='40' height='40' alt='check' style='line-height: 100%; border: 0 none; outline: none; text-decoration: none; vertical-align: middle; font-size: 0; display: block; width: 40px; height: 40px;')
                        tr
                          td.content.text-center(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding: 40px 48px;' align='center')
                            p.h1(style='font-weight: 300; font-size: 28px; line-height: 130%; margin: 0 0 .5em;') Passwort zur&uuml;cksetzen
                            p(style='margin: 0 0 1em;')
                              | Es sieht so aus, als h&auml;ttest du deine Passwort f&uuml;r dein Nutzerkonto vergessen. Klicke auf den Button, um ein neues zu erhalten.
                        tr
                          td.content.text-center.pt-0.pb-xl(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding: 0 48px 48px;' align='center')
                            table(cellspacing='0' cellpadding='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: collapse; width: 100%;')
                              tr
                                td(align='center' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;')
                                  table.bg-green.rounded.w-auto(cellpadding='0' cellspacing='0' border='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: separate; width: auto; color: #ffffff; border-radius: 3px;' bgcolor='#467fcf')
                                    tr
                                      td.lh-1(align='center' valign='top' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; line-height: 100%;')
                                        a.btn.bg-green.border-green(href=url style='color: #ffffff; padding: 12px 32px; border: 1px solid #467fcf; text-decoration: none; white-space: nowrap; font-weight: 600; font-size: 16px; border-radius: 3px; line-height: 100%; display: block; -webkit-transition: .3s background-color; transition: .3s background-color; background-color: #467fcf;')
                                          span.btn-span(style='color: #ffffff; font-size: 16px; text-decoration: none; white-space: nowrap; font-weight: 600; line-height: 100%;') Passwort zur&uuml;cksetzen
                        tr
                          td.content.text-center.border-top(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-top-width: 1px; border-top-color: #f0f0f0; border-top-style: solid; padding: 40px 48px;' align='center')
                            p(style='margin: 0 0 1em;')
                              | Mit freundlichen Gr&uuml;&szlig;en,
                              br
                              |                                                                 Dominik Wagenmann, Gr&uuml;nder von 
                              a.text-default(href='https://tabler.io/emails?utm_source=demo' style='color: #444444; text-decoration: none;') 123provisionsfrei.de
                            p(style='margin: 0 0 1em;')
                              img.avatar(src=host + '/v1/userList/img/sample-user-codecalm.jpg' width='72' height='72' alt='' style='line-height: 100%; border: 0 none; outline: none; text-decoration: none; vertical-align: baseline; font-size: 0; border-radius: 50%; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);')
              table(cellspacing='0' cellpadding='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: collapse; width: 100%;')
                tr
                  td.py-xl(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding-top: 48px; padding-bottom: 48px;')
                    table.font-sm.text-center.text-muted(cellspacing='0' cellpadding='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: collapse; width: 100%; color: #9eb0b7; text-align: center; font-size: 13px;')
                      tr
                        td.pb-md(align='center' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding-bottom: 16px;')
                          table.w-auto(cellspacing='0' cellpadding='0' style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: collapse; width: auto;')
                            tr
                              td.px-sm(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding-right: 8px; padding-left: 8px;')
                                a(href='https://tabler.io/emails?utm_source=demo' style='color: #467fcf; text-decoration: none;')
                                  img.va-middle(src=host + '/v1/userList/img/icons-gray-social-facebook-square.png' width='24' height='24' alt='social-facebook-square' style='line-height: 100%; outline: none; text-decoration: none; vertical-align: middle; font-size: 0; border: 0 none;')
                              td.px-sm(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding-right: 8px; padding-left: 8px;')
                                a(href='https://tabler.io/emails?utm_source=demo' style='color: #467fcf; text-decoration: none;')
                                  img.va-middle(src=host + '/v1/userList/img/icons-gray-social-youtube.png' width='24' height='24' alt='social-youtube' style='line-height: 100%; outline: none; text-decoration: none; vertical-align: middle; font-size: 0; border: 0 none;')
                              td.px-sm(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding-right: 8px; padding-left: 8px;')
                                a(href='https://tabler.io/emails?utm_source=demo' style='color: #467fcf; text-decoration: none;')
                                  img.va-middle(src=host + '/v1/userList/img/icons-gray-social-instagram.png' width='24' height='24' alt='social-instagram' style='line-height: 100%; outline: none; text-decoration: none; vertical-align: middle; font-size: 0; border: 0 none;')
                      tr
                        td.px-lg(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding-right: 24px; padding-left: 24px;')
                          | Wenn du Fragen hast, kannst du uns jederzeit &uuml;ber folgende E-Mail erreichen: 
                          a.text-muted(href='mailto:support@123provisionsfrei.de' style='color: #9eb0b7; text-decoration: none;') support@123provisionsfrei.de
                          | .
                      tr
                        td.px-lg.pt-md(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding-top: 16px; padding-right: 24px; padding-left: 24px;')
                          a.text-muted(href='https://123provisionsfrei.de/impressum' style='color: #9eb0b7; text-decoration: none; padding-right: 5px;') Impressum
                          a.text-muted(href='https://123provisionsfrei.de/datenschutz' style='color: #9eb0b7; text-decoration: none; padding-right: 5px;') Datenschutz
                          if userId
                            a.text-muted(href=`https://123provisionsfrei.de/unsubscribe?email=${userId}` style='color: #9eb0b7; text-decoration: none;') Abmelden
                      tr
                        td.pt-md(style='font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; padding-top: 16px;')
                          | Du erh&auml;ltst diese E-Mail, weil du dich f&uuml;r unseren Service registriert hast.